<h1>Chat</h1>
<article>
    <form id="form-message">
        <input id="input-message" type="text" placeholder="Write a message" required />
        <input type="submit" value="Send" />
    </form>
</article>
<h3>Conversation</h3>
<article>
    <div id="log-messages">
    </div>
</article>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>